body {
	background-color: bisque;
}
nav {
	padding: auto;
	margin: auto;
}
header {
	color: hotpink;
}
p {
	color: plum;
}
article {
	color: aqua;
}

ul {
	text-align: center;
	list-style-type: none;
}

li {
	display: inline;
}

section > h1 {
	color: brown;
	text-align: center;
}
@media screen and (min-width: 600px) {
	img.avatar {
	}
}
img.avatar {
	border-radius: 55%;
}
p.blog {
	border: 1cap;
}
